@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFEAD8;
}
header{
    top: 0;
    left: 0;
    width: 100%;
}
.cabe{
    background-color: #FFEAD8;
    overflow: auto;
    border-top: 10px solid #402401;
    border-bottom: solid 1px #402401;
}
.logo{
    float: left;
    width: 80px;
    height: 80px;
    padding: 15px 0px 15px 40px;
}
h1{
    float: left;
    font-family: "Averia Serif Libre", serif;
    font-size: 64px;
    color: #402401;
    line-height: 77px;
    padding: 15px 327px;
}
.redes{
    float: right;
    margin: 40px 40px 40px 0px;
}
.redes img{
    height: 25px;
    width: 25px;
    padding: 0px 5px;
    cursor: pointer;
}
.menu{
    background-color: #402401;
    width: 100%;
    height: 30px;
    font-family: "Averia Serif Libre", serif;
    font-size: 15px;
    border-bottom: solid 1px #402401;
}
.menu ul{
    padding: 0;
    max-width: 1100px;
    margin: auto;
}
.menu ul li{          
    background-color: #402401;
    color: #FFEAD8;
    float: left;
    width: 220px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: relative;
}
.a{
    text-decoration: none;
    color: #FFEAD8;
    background-color: #402401;
    padding: 6.2px 37.125px;
    border-bottom: solid 1px #402401;
}
.a:hover{
    text-decoration: none;
    color: #402401;
    background-color: #FFEAD8;
    padding: 6.2px 31.625px;
}
.menu ul li:hover{
    background-color:#FFEAD8;
    color: #402401;
}
.menu ul ul{
    display: none;
}
.menu ul li:hover > ul{
    display: block;
}
.menu ul ul li:hover{
    background-color:#FFEAD8;
    height: 28px;
    width: 218px;
    border: solid 1px #402401;
}
.infos_geral{
    width: 100%;
    background-color: #402401;
    font-family: "Comfortaa", sans-serif;
    color: #FFEAD8;
}
.navegaçao, .contato, .email{
    display: inline-block;
    width: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.navegaçao{
    margin-left: 3%;
    margin-right: 4.6%;
    position: relative;
    bottom: 7px;
}
.contato{
    margin-left: 4.6%;
    margin-right: 4.6%;
    position: relative;
    bottom: 9px;
}
.email{
    margin-left: 4.6%;
    margin-right: 3%;
}
.infos_geral h2{
    font-family: "Averia Serif Libre", serif;
    font-size: 35px;
}
.container{
    background-color: #FFEAD8;
    color: #402401;
    padding: 50px;
    margin-top: 25px;
    height: 150px;
    align-content: center;
}
.container a{
    color: #402401;
    text-decoration: none;
}
.container a:hover{
    color: #402401;
    text-decoration: none;
    text-shadow: 1px 0px #402401;
}
.container p{
    margin-bottom: 10px;
    margin-left: 10px;
}
.container img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.contato p{
    display: inline-block;
}
.container input{
    width: 310px;
    height: 30px;
    margin-bottom: 15px;
    border: #402401 solid 1px;
    background-color: #FFEAD8;
    font-family: "Comfortaa", sans-serif;
    color: #402401;
    padding: 5px;
}
.container button{
    width: 100%;
    padding: 10px;
    background-color: #402401;
    color: #FFEAD8;
    font-family: "Comfortaa", sans-serif;
    border: solid 1px #402401;

}
.container button:hover{
    background-color: #FFEAD8;
    color: #402401;
    cursor: pointer;


}
.direitos{
    background-color: #FFEAD8;
    color: #402401;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    padding: 25px;
}
